.arrowAnimation {
    height: 30px;
    animation: slideAnim 1.7s ease infinite;


}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

@keyframes slideAnim {

    0% {
        -webkit-transform: translateY(10);
        transform: translateY(10);
    }


    50% {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }


    100% {
        -webkit-transform: translateY(10);
        transform: translateY(10);
    }
}