body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif, helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}